@import "./var.scss";
@import "./all.scss";

/*共同項目--------------------------------------------------------------------------------------------*/
a {
  text-decoration: none;
}

#Home {
  width: 100vw;
}

/*sectionAll--------------------------------------------------------------------------------------------*/

#section02,
#section03 {
  width: 75%;
  height: 100vh;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
#section04 {
  width: 75%;
  height: 60vh;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.decImg {
  position: absolute;
  z-index: -1;
}

/*section01--------------------------------------------------------------------------------------------*/

.logo {
  position: absolute;
  z-index: 3;
  width: 29rem;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 2px #785651);
}

#section01 {
  width: 100%;
  height: 100vh;
}

#sec01box {
  width: 100%;
  height: 100%;
  position: relative;
}
.sec01main {
  width: 100%;
  position: absolute;
  top: -10%;
  left: 0;
  object-fit: cover;
}

.main {
  object-fit: cover;
  pointer-events: none;
}

/*section02--------------------------------------------------------------------------------------------*/
// #section02 {
//   background: #fce9d8;
// }
#section02 {
  // background: wheat;
  justify-content: center;
  .text {
    position: relative;
    ::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../assets/images/fox04.png");
    }
  }
}
#section02 .row {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 40%;
  margin: auto;
}

#section02 .col-4 {
  height: 100%;
  padding: 0;
}
#sec02Img {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  .aboutbg {
    width: 77%;
    transform: translateX(-3%);
  }
}
.homeImg {
  width: 100%;
  height: 100%;
  padding: 0 1.5%;
  margin: auto;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.aboutus {
  width: 100%;
  margin: auto;
  text-align: center;
  color: $textColor;
  text-shadow: 0 0 8px #fce9d8;
  line-height: 2.4rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  position: absolute;
  .title {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -10%;
      left: 0;
      transform: translateX(-10%);
      width: 120%;
      border-bottom: 0.2rem solid $mainColor02;
    }
    // &::before {
    //   content: "AboutUs";
    //   font-size: 12rem;
    //   position: absolute;
    //   width: auto;
    //   height: auto;
    //   top: 100%;
    //   left: 0%;
    //   z-index: -1;
    //   color: #c5c4a6;
    //   opacity: 0.5;
    //   // background: url("../assets/images/aboutus.png") no-repeat center/contain;
    // }
  }
  .aboutusimg {
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .text {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 2rem;
    position: relative;
    padding-bottom: 3.5rem;
  }
}
.center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.decImg01 {
  width: 20rem;
  bottom: 20%;
  right: 12%;
  transform: rotateY(180deg);
  z-index: 2;
}
.decImg02 {
  top: 25%;
  left: 11%;
  width: 15rem;
  transform: rotateY(180deg) rotate(-20deg);
  z-index: 1;
}
.decImg03 {
  position: absolute;
  bottom: 50%;
  right: 15%;
  width: 8rem;
  z-index: 1;
}
.decImg04 {
  position: absolute;
  bottom: 18%;
  left: 23%;
  height: 9.5rem;
  z-index: 1;
}
.titleImg {
  width: 50%;
  opacity: 0.3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*section03--------------------------------------------------------------------------------------------*/
#section03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}
#sec03Img {
  height: 90vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.carousel {
  width: 100%;
  background: transparent !important;
}
// .decImg03 {
//   bottom: 0;
//   left: 5%;
//   width: 15rem;
//   z-index: 100;
//   position: absolute;
//   &::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 10rem;
//     height: 100px;
//     background: $mainColor01;
//   }
// }
.tagtext {
  width: 30%;
  position: absolute;
  bottom: 60%;
  transform: translateY(50%);
  left: 15%;
  z-index: 2;
  color: #fff;
  letter-spacing: 0.3rem;
  line-height: 1.5rem;
  text-shadow: 0 2px 5px #785651;
  background: #7856514b;
  padding: 1rem;
}
#section03Tag {
  width: 32%;
  height: auto;
  position: absolute;
  bottom: 13%;
  right: 3%;
  z-index: 2;
  transition: 0.8s;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  color: #fff;
  p {
    z-index: 2;
    pointer-events: none;
  }
  img {
    width: 100%;
    object-fit: contain;
    opacity: 0.8;
    transition: 0.8s;
  }
  &:active {
    img {
      opacity: 1;
    }
  }
}
.tagtext {
  .title {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    text-shadow: 0 2px 5px #785651;
    // &::after {
    //   content: "";
    //   position: absolute;
    //   bottom: -10%;
    //   left: 0;
    //   width: 25%;
    //   box-shadow: 0 2px 5px #785651;
    //   border-bottom: 0.2rem solid #fff;
    // }
  }
}
/*section04*/
#step {
  position: relative;
  opacity: 0.8;
}
.step1,
.step2,
.step3 {
  width: 6rem;
  height: 6rem;
  position: relative;
}
#stepImg {
  margin-top: 3rem;
  position: relative;
  height: 15rem;
  img {
    height: 100%;
  }
}
#stepDes {
  margin-top: 1rem;
  color: #785651;
  text-shadow: 0 0 8px #fce9d8;
  letter-spacing: 0.05rem;
  font-size: 1rem;
}
.steptext {
  position: absolute;
  font-size: 2rem;
  color: #fff;
}
.aboutstep {
  width: 100%;
  text-align: center;
  color: $textColor;
  text-shadow: 0 0 8px #fce9d8;
  line-height: 2.4rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  position: relative;
  .title {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -10%;
      left: 0;
      transform: translateX(-10%);
      width: 120%;
      border-bottom: 0.2rem solid $mainColor02;
    }
  }
  .text {
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    margin-top: 2rem;
    position: relative;
    padding-bottom: 3.5rem;
  }
}
// .step1::after {
//   content: "1";
//   position: absolute;
//   font-size: 2.3rem;
//   color: #fff;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 5;
// }
// .step2::after {
//   content: "2";
//   position: absolute;
//   font-size: 2.3rem;
//   color: #fff;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
// .step3::after {
//   content: "3";
//   position: absolute;
//   font-size: 2.3rem;
//   color: #fff;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
/*footer--------------------------------------------------------------------------------------------*/
.mapbox {
  width: 100%;
  height: 50vh;
}

#footer {
  width: 100%;
  height: 24vh;
  padding-left: 10%;
  padding-right: 10%;
  background: $mainColor02;
  display: flex;
  align-items: center;
  img {
    padding: 1rem;
    width: 15rem;
  }
  span {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -30%;
      width: 0.6rem;
      height: 2px;
      background: #fff;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: -30%;
      width: 0.6rem;
      height: 2px;
      background: #fff;
    }
  }
}

.icon {
  font-size: 2rem;
  color: #fff;
}

/*totop--------------------------------------------------------------------------------------------*/

#totop {
  width: 20%;
  height: auto;
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 2000;
  cursor: pointer;
  display: none;
}

.main {
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

@media (min-width: 768px) {
  #totop {
    width: 8%;
    display: initial;
  }
}
